First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  line-height: 150%;
  color: #333;
  background: #BDBDBD;
}

h2 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  color: #14B4A4;
  
}

a {
  color: #d21034;
}

/* Selecting elements by class */
.container {
    width: 1200px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  #landing-page,
  #visualization,
  #main-image {
    float: left;
    width: 180px;
    height: 180px;
    margin-right: 20px;
  }
  
  #figure {
    position: relative;
  }
  
  
  #landing-page{
    width: 40%;  
  }
  
  #visualization {
    width: 40%;
  }
  
  #hum {
    width: 180px;
    height: 180px;
    margin-right: 20px;
  }
  #max{
    width: 180px;
    height: 180px;
    margin-right: 20px;
  }
  
  #clo{
    width: 180px;
    height: 180px;
    margin-right: 20px;
  }

  #win{
    width: 180px;
    height: 180px;
    margin-right: 20px;
  }